In [1]:
import pandas as pd
etfs = "../data/ndaq-historical/spy-historical.csv"
df = pd.read_csv(etfs)
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes

Date          datetime64[ns]
Close/Last           float64
Volume                 int64
Open                 float64
High                 float64
Low                  float64
dtype: object

In [24]:
import torch
import torch.nn as nn

device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")

rnn = nn.LSTM(input_size=1, hidden_size=10, num_layers=2)
rnn = rnn.to(device)

In [3]:
df.head()

        Date  Close/Last     Volume    Open      High     Low
0 2022-04-25      428.51  119647700  423.67  428.6900  418.84
1 2022-04-22      426.04  132471800  436.91  438.0825  425.44
2 2022-04-21      438.06   85417330  448.54  450.0100  437.10
3 2022-04-20      444.71   65224450  446.92  447.5700  443.48
4 2022-04-19      445.04   77821010  437.86  445.8000  437.68

In [4]:
df.tail()

           Date  Close/Last     Volume    Open    High     Low
2511 2012-05-02     140.325  120969500  139.92  140.46  139.46
2512 2012-05-01     140.740  138695300  139.79  141.66  139.63
2513 2012-04-30     139.870  114987800  140.11  140.21  139.49
2514 2012-04-27     140.390  123858100  140.58  140.79  139.80
2515 2012-04-26     140.160  135323000  138.89  140.32  138.81

In [5]:
# sort by date
df = df.sort_values(by='Date')

In [8]:
df

           Date  Close/Last     Volume    Open      High     Low
2515 2012-04-26     140.160  135323000  138.89  140.3200  138.81
2514 2012-04-27     140.390  123858100  140.58  140.7900  139.80
2513 2012-04-30     139.870  114987800  140.11  140.2100  139.49
2512 2012-05-01     140.740  138695300  139.79  141.6600  139.63
2511 2012-05-02     140.325  120969500  139.92  140.4600  139.46
...         ...         ...        ...     ...       ...     ...
4    2022-04-19     445.040   77821010  437.86  445.8000  437.68
3    2022-04-20     444.710   65224450  446.92  447.5700  443.48
2    2022-04-21     438.060   85417330  448.54  450.0100  437.10
1    2022-04-22     426.040  132471800  436.91  438.0825  425.44
0    2022-04-25     428.510  119647700  423.67  428.6900  418.84

[2516 rows x 6 columns]

In [14]:
x = df.iloc[0:10]['Open']
y = df.iloc[0:10]['Close/Last']

In [20]:
x = torch.tensor(list(x), dtype=torch.float32)
y = torch.tensor(list(y), dtype=torch.float32)